.features{
	
	margin-top:20px;
	margin-right:180px;

}

.img{
margin-left:100px;	
}

.li{
	margin-top:20px;
}

.font{
	font-family: 'Lobster', cursive;

}
.font1{
	font-family: 'Balsamiq Sans', cursive;

}

.dog{
text-align:center;


}